<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>WTComment</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleVersion</key>
	<string>0.20161116.0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SortingClass</string>
					<key>XCSourceEditorCommandName</key>
					<string>import排序</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CopyLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>复制当前行</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).ImportClass</string>
					<key>XCSourceEditorCommandName</key>
					<string>导入选中的类</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AutomaticSET</string>
					<key>XCSourceEditorCommandName</key>
					<string>SET</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AutomaticGET</string>
					<key>XCSourceEditorCommandName</key>
					<string>GET</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AutomaticAnnotationLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>/** */</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AKeyReplace</string>
					<key>XCSourceEditorCommandName</key>
					<string>一键替换</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>CommentStatementCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DeleteComment</string>
					<key>XCSourceEditorCommandName</key>
					<string>删掉注释</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>CommentStatementExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016年 wintelsui. All rights reserved.</string>
</dict>
</plist>
